.form .fields {
  display: flex;
  align-items: center;
  gap: 29px;
}

.form .field {
  width: auto;
  margin-bottom: 20px;
  position: relative;
}

.form .field label {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -2%;
  color: var(--primary-color);
}

.form .field input,
.form .field select {
  width: 100%;
  border-radius: var(--default-border-radius);
  border: 1px solid #dcdcdc;
  padding: 12.46px 19px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #666666;
}

.form .action-btn {
  padding: 4px 8px;
  border-radius: var(--default-border-radius);
  color: #fff7e6;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.form .cta {
  margin-top: 24px;
  display: block;
  padding: 8px 12px;
  border-radius: var(--default-border-radius);
  color: #fff7e6;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.form .error-message {
  color: red;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -2%;
  margin-top: 4px;
  position: absolute;
  bottom: -16px;
  left: 0;
}
